/* Style for preloader */

.signature.preloader__signature {
  color: var(--signature-color);
  width: 25rem;
  transition: opacity var(--preloader-fade-time),
    visibility var(--preloader-fade-time);
}

.fade-out {
  opacity: 0;
  visibility: hidden;
}

.signature.preloader__signature #signature-title {
  stroke: var(--signature-color);
  stroke-width: var(--preloader-signature-width);
  stroke-linecap: var(--signature-linecap);
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 1.5s linear forwards;
}

.signature.preloader__signature #signature-underline {
  stroke: var(--signature-color);
  stroke-width: var(--preloader-signature-width);
  stroke-linecap: var(--signature-linecap);
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 1s linear forwards;
  animation-delay: 1s;
}

/* Style for header */
.signature.header__signature {
  width: 9rem;
}

.signature.header__signature #signature-title {
  stroke: var(--signature-color);
  stroke-width: var(--header-signature-width);
  stroke-linecap: var(--signature-linecap);
  /* transition: all var(--transition-time); */
}

.signature.header__signature #signature-underline {
  stroke: var(--signature-color);
  stroke-width: var(--header-signature-width);
  stroke-linecap: var(--signature-linecap);
  /* transition: all var(--transition-time); */
}

.signature.signature.header__signature:hover {
  cursor: pointer;
}

/* .signature.header__signature:hover #signature-title {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 0.5s linear forwards;
}

.signature.header__signature:hover #signature-underline {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 0.3s linear forwards;
  animation-delay: 0.3s;
} */

/* Animation handwritten signature*/
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@media screen and (max-width: 480px) {
  .signature.header__signature {
    width: 7rem;
  }

  .signature.signature.preloader__signature {
    width: 16rem;
  }
}
