/* Style for preloader */

.signature.preloader__signature {
  color: var(--font-color);
  width: 25rem;
  transition: opacity var(--preloader-fade-time),
    visibility var(--preloader-fade-time);
}

.fade-out {
  opacity: 0;
  visibility: hidden;
}

.signature.preloader__signature #signature-title {
  stroke: var(--font-color);
  stroke-width: var(--preloader-signature-width);
  stroke-linecap: var(--signature-linecap);
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 1.5s linear forwards;
}

.signature.preloader__signature #signature-underline {
  stroke: var(--font-color);
  stroke-width: var(--preloader-signature-width);
  stroke-linecap: var(--signature-linecap);
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 0.75s linear forwards;
  animation-delay: 1s;
}

/* Signature for Home and Header */
.signature.header__signature {
  width: 9rem;
}

.signature.home__signature {
  width: 11rem;
}

.signature.footer__signature {
  width: 9rem;
}

.signature.header__signature #signature-title,
.signature.home__signature #signature-title,
.signature.header__signature #signature-underline,
.signature.home__signature #signature-underline {
  stroke: var(--font-color);
  stroke-linecap: var(--signature-linecap);
}

.signature.home__signature #signature-title,
.signature.home__signature #signature-underline {
  stroke-width: var(--home-signature-width);
}

.signature.signature.footer__signature #signature-title,
.signature.footer__signature #signature-underline {
  stroke-width: var(--footer-signature-width);
  stroke: #121212;
}

/* Animation handwritten signature*/
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@media screen and (max-width: 480px) {
  .signature.header__signature {
    width: 7rem;
  }

  .signature.signature.preloader__signature {
    width: 16rem;
  }
}
