.project-item__content {
  position: relative;
  cursor: pointer;
  width: 80rem;
  height: 46rem;
  margin: 0 5rem;
  /* margin: 0 rem; */
  overflow: hidden;
  background-color: var(--font-color);
}

.project-item__img {
  width: 100%;
  height: 100%;
  /* display: inline-block; */
  vertical-align: middle;
  object-fit: cover;
}

.project-item__img-wrapper {
  width: 100%;
  height: 100%;
}

.project-item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffffde;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  background-color: var(--overlay-color);
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
  opacity: 0.9;
}

.project-item__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffffde;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding: 0 6rem; */
  transform: translateY(calc(100% - 7.5rem));
  transition: transform 0.5s ease-in-out;
}

.project-item__content:hover .project-item__overlay,
.project-item__content:hover .project-item__description {
  transform: translateY(30%);
}

.project-item__details-title {
  background-color: var(--secondary-color);
  padding: 2rem 4rem;
  margin-bottom: 2rem;
}

.project-item__details h1 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: var(--primary-color);
}

.project-item__details-description {
  padding: 0 4rem;
}

.project-item__details p {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  line-height: 2.8rem;
  margin-bottom: 2rem;
}

.project-item__details-btn {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  padding: 2rem 1rem;
  margin-left: 4rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  transition: background-color 0.5s ease-in-out;
}

.project-item__details-btn:hover {
  background-color: var(--secondary-color-hover);
}
