.skills {
  width: 100%;
  user-select: none;
  /* padding-bottom: 10rem; */
  /* background-color: var(--primary-color); */
}

.skills__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 6rem;
  font-size: 2.6rem;
  font-weight: 300;
  color: #ffffffde;
}

.skills__details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* background-color: var(--primary-color); */
}

.skills__item-wrapper {
  display: flex;
  flex-direction: column;
  width: 60rem;
  padding: 0 6rem 6rem;
  /* height: 60rem; */
  background-color: var(--secondary-color);
}

.skills__item-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  color: var(--primary-color);
}

.skills__item-wrapper:first-child {
  margin-left: 14rem;
  position: relative;
}

.skills__item-wrapper:last-child {
  margin-right: 14rem;
  position: relative;
}

.skills__item-wrapper:first-child::before {
  content: "";
  position: absolute;
  top: 8rem;
  left: -14rem;
  width: 14rem;
  height: calc(100% - 8rem);
  background-color: var(--primary-color);
}

.skills__item-wrapper:last-child::after {
  content: "";
  position: absolute;
  top: 8rem;
  right: -14rem;
  width: 14rem;
  height: calc(100% - 8rem);
  background-color: var(--primary-color);
}

.skills__blank {
  flex: 1;
}

.skills__blank-head {
  height: 8rem;
}

.skills__blank-body {
  height: 100%;
  background-color: var(--primary-color);
}

.skills__footer {
  width: 100%;
  height: 24rem;
  background-color: var(--primary-color);
}
