.social__block {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: var(--special-font-color);
  z-index: 10;
  padding: 3.2rem;
  transform: scaleX(0);
  transform-origin: left;
  animation: socialFadeIn 0.3s ease forwards;
  animation-delay: 2.5s;
  overflow: hidden;
}

.social__list {
  display: flex;
  transform: translateY(6rem);
  animation: socialIconFadeIn 0.3s ease forwards;
  animation-delay: 3s;
}

@keyframes socialFadeIn {
  0% {
    opacity: 0;
    /* transform: scaleX(0); */
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes socialIconFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 480px) {
  .social__block {
    display: none;
  }
}
