.preloader {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity var(--preloader-fade-time),
    visibility var(--preloader-fade-time);
}

.preloader--hidden {
  opacity: 0;
  visibility: hidden;
}
