.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity var(--preloader-fade-time),
    visibility var(--preloader-fade-time);
}

.fade-out {
  opacity: 0;
  visibility: hidden;
}
