.home {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: var(--standard-padding) 32rem;
  background-image: var(--bg-url);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.home__logo {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(var(--sidebar-width) * 2.5);
  width: calc(var(--sidebar-width) * 2.5);
  background-color: var(--primary-color);
}

.home__logo-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.home__scroll {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 4rem;
  height: 20rem;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3rem;
}

.home__scroll p {
  color: var(--font-color);
  font-size: 1.4rem;
  font-weight: 400;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  letter-spacing: 0.4rem;
  margin-bottom: 2rem;
  user-select: none;
}

.home__scroll-icon {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  overflow: hidden;
}

.home__scroll-icon-line {
  width: 2px;
  height: 100%;
  background-color: var(--font-color);
  margin: 0.5rem 0;
  animation: scroll 1.5s cubic-bezier(0.22, 0.61, 0.36, 1) infinite;
}

.home__introduction {
  position: absolute;
  right: 20rem;
  height: 55rem;
  padding-left: 16rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  animation: homeFadeIn 1s ease-in-out forwards;
  animation-delay: 2.5s;
  background: rgba(245, 245, 245, 0.21);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

@keyframes homeFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.home__introduction-greetings {
  font-size: 3.2rem;
  margin-bottom: 3rem;
  user-select: none;
  letter-spacing: 0.6rem;
  /* font-weight: 400; */
  color: var(--primary-color);
}

.home__introduction-name {
  color: var(--secondary-color);
  font-weight: 700;
}

.home__introduction-job {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  user-select: none;
}

.home__introduction-job-title {
  position: relative;
  font-size: 2.8rem;
  font-weight: 400;
  color: var(--primary-color);
  opacity: 0.7;
  word-spacing: 0.5rem;
}

.home__introduction-job-title:before {
  content: "";
  display: inline-block;
  width: 8rem;
  height: 2px;
  background-color: var(--primary-color);
  margin-right: 2rem;
  transform: translateY(-0.25em);
}

.home__introduction-description p {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--font-color);
  text-align: left;
  line-height: 1.6;
}

.home__avatar {
  background: url(../../assets/profile.jpg) no-repeat center;
  background-size: cover;
  /* filter: grayscale(100%); */
  /* width: 32%; */
  flex: 0.6;
  aspect-ratio: 1/1;
  opacity: 0;
  box-shadow: inset 0 0 0 9px rgb(255 255 255 /30%);
  animation: blob 8s ease-in-out infinite 0.75s,
    homeAvatarFadeIn 1s ease-in-out forwards;
  animation-delay: 2.5s;
}

@keyframes homeAvatarFadeIn {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes blob {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 30% 70% 40%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@keyframes scroll {
  0% {
    opacity: 0.4;
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(60px);
    transform: translateY(60px);
  }
}

@keyframes disappear {
  0% {
    height: 100%;
  }

  100% {
    height: 0;
  }
}

@media screen and (max-width: 480px) {
  .home {
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
  }

  .home__introduction {
    margin: 0;
    flex: 0.5;
    /* margin-bottom: 4rem; */
    /* margin: 0 auto; */
  }

  .home__introduction-greetings {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding: 0;
  }

  .home__avatar {
    flex: 0.4;
  }

  .home__introduction-job-title {
    font-size: 1.6rem;
  }

  .home__scroll {
    display: none;
  }
}
