.header {
  width: 100%;
  height: var(--header-height);
  padding: 0 10rem;
  background-color: var(--primary-color);
  color: var(--font-color);
  /* border-bottom: 1px solid var(--border-color); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  /* transition: all var(--transition-time); */
}

.header__navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__theme-switch {
  width: 4rem;
  margin-left: 4rem;
}

.header__theme-switch:hover {
  cursor: pointer;
}

.switch__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.6rem;
  color: var(--switch-color);
}
