.navbar {
  position: relative;
}

.navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 480px) {
  /* .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
}
