.typewriter-wrapper {
  display: flex;
  align-items: center;
  width: 80%;
  margin-bottom: 3rem;
  user-select: none;
}

.typewriter__prefix {
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--font-color);
}

.Typewriter {
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--special-font-color);
  display: inline-block;
}

.Typewriter__cursor {
  color: var(--font-color);
}

@media screen and (max-width: 480px) {
  .typewriter-wrapper {
    width: 100%;
  }

  .typewriter__prefix {
    font-size: 2.1rem;
  }

  .Typewriter {
    font-size: 2.1rem;
  }
}
